.formulario{
    
    @include tablet{
        @include grid(2,$separacion);
        padding: $separacion / 2;
    }
    
    .formulario-imagen{
        padding: 0 $separacion / 2;
        
        img{
            height: 100%;
            max-height: 618.95px;
            width: 100%;
        }
    }
}

.formulario-campos{
    background-color: $gris;
    padding: $separacion / 2;

    .campo{
        display: flex;
        flex-direction: column;
    }

    label{
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    
    input, textarea{
        font-family: $fuente_parrafo;
        padding: 1rem;
        margin-bottom: 3rem;
    }

    textarea{
        height: 15rem;
        resize: none;
    }
}

.boton{
    @include boton($azul,block);
}