.header{
    background-color: $azulOscuro;
    img{
        height: 5rem;
        width: auto;
    }
}

.logo{
    padding: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: scale(1);
    transition: all 150ms ease-in-out;

    @include tablet{
    }

    a{
        
        &:not(:last-of-type){
            margin-right: $separacion / 3;
        }
        
        h1{
            color: $blanco;
            font-size: 2.4rem;
            font-family: $fuente_secundaria;
            font-weight: $regular;
        }
    }

    &:hover{
        transform: scale(1.05);
    }
}

.imagen-portada{
    background-color: $azul;
    background-image: url(../img/portada1.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 20rem;
    width: auto;
    @include tablet{
        min-height: 40rem;
    }

    @include desktop{
        min-height: 50rem;
    }
}