.header{
    background-color: $azulOscuro;

    img{
        height: 7rem;
        width: auto;
    }
}

.logo{
    padding: $separacion / 2 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet{
    }

    a{
        margin-right: $separacion / 3;
        
        &:last-of-type{
            margin-right: 0;
        }

        h1{
            color: $blanco;
            font-size: 2.4rem;
        }
    }
}

    .imagen-portada{
        background-color: $azul;
        background-image: url(../img/portada1.webp);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        
        min-height: 20rem;
        @include tablet{
            min-height: 40rem;
        }
        @include desktop{
            min-height: 50rem;
        }
        width: auto;
    }