html {
    scroll-behavior: smooth;
}

.barra{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-bottom: 0;

    @include tablet{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    
    @include tablet{
        gap: $separacion / 3;
        margin-bottom: 0;
    }        
    
    a{
        font-family: $fuente_secundaria;
        font-size: 1.8rem;
        color: $blanco;            
        text-decoration: none;
        text-align: center;
        transform: scale(1);
        transition: all 150ms ease-in-out;
        
        &:not(:last-of-type){
            margin-right: 2rem;
        }
        
        &:hover{
            transform: scale(1.05);
        }
    }
}