.nosotros{
    padding: 3.5rem 0;
    background-color: $grisClaro;
    p{
        margin-top: 0;
        &:last-child{
            margin-bottom: 0;
        }
    }
    h1{
        margin-top: 0;
    }
}

.nosotros-contenido{
    display: block;
    align-items: center;
    
    @include tablet{
        display: grid;
        gap: $separacion / 2;
        grid-template-columns: repeat(2,1fr);
    }
    
    @include desktop{
        gap: $separacion;
    }
    
    .nosotros-imagen{
        padding: 0;
        margin-bottom: 2.5rem;

        @include tablet{
            padding: 0 2rem;
            margin-bottom: 0;
            display: flex;
            justify-content: center;

        }

        transform: scale(1);
        transition: transform 150ms ease-in-out;
        
        &:hover{
            transform: scale(1.05);
        }
    }
    
    .nosotros-info{
        text-align: justify;
    }
}