.portafolio{
    padding: 3.5rem 0;
    background-color: $grisClaro;
    p{
        margin-top: 0;
        &:last-child{
            margin-bottom: 0;
        }
    }
    h1{
        margin-top: 0;
    }
}
